/WAA/Lab8_JSF_Conversion/nbproject/private/
/WAA/Lab8_JSF_Conversion/build/
/WAA/Lab8_JSF_Validation/nbproject/private/
/WAA/Lab8_JSF_Validation/build/
/WAA/JSFEventHandling/nbproject/private/
/WAA/JSFEventHandling/build/
/WAA/Lab10_CustomComponent/nbproject/private/
/WAA/Lab10_CustomComponent/build/
/WAA/Lab11_jsf_ajax/nbproject/private/
/WAA/Lab11_jsf_ajax/build/
/WAA/ShoppingCart/nbproject/private/
/WAA/ShoppingCart/build/