/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 10:57:06 PM
    Author     : Rajiv
*/
#mainDivCdShop{ width: 75%; position: fixed; top: 50%;left: 50%; transform: translate(-50%, -50%); }
#mainDiv{  position: fixed; top: 50%;left: 50%; transform: translate(-50%, -50%); }
#mainPanelGrid{ border-radius: 25px;border: 2px solid #73AD21;padding: 10px; }
#row{ display: table-row; }
#container{ display: table; }
.cell{ display: table-cell; }   
#productTable{ border: solid #9999ff thin; }
#productTable tr td {border: solid #9999ff thin; text-align: center;}

